@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-*: initial;
  --breakpoint-xsm: 30rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 50rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 100rem;

  /* font-family */
  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}







button {
  cursor: pointer;
}
